@charset "UTF-8";

/* palheta de cores

 VERDE ESCURO       #1E3626
 VERDE MAIS CLARO   #4D6241
 BEJE               #D2C0B6
 CINZA              #A1A4A6
 QUASE PRETO        #011826

*/

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #011826;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
} 

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    overflow: hidden;
    
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
}   

section#login > div#imagem {
    background: #011826 url(../imagens/pexels-tiennguyen-28927898.jpg);
    background-size: cover;
    background-position: left bottom;
}   

section#formulario {

}    